image:
  name: "giantswarm/cluster-api-cleaner-vsphere"
  tag: ""
registry:
  domain: gsoci.azurecr.io

logLevel: 0

global:
  podSecurityStandards:
    enforced: true

pod:
  user:
    id: 1000
  group:
    id: 1000

# Add seccomp to pod security context
podSecurityContext:
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL
  seccompProfile:
    type: RuntimeDefault
